/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* colors */
:root {
	--color-background: #ffffff;
	--color-background-image: #b4d0e7;
	--color-button: #0061ff;
	--color-background-footer: #000000;
	--color-bg-designit: #a2d39b;
	--color-bg-asu: #61082b;
	--color-bg-uniflorida: #0093ce;
	--color-bg-topps: #ff1c1c;
	--color-bg-designit-center: #f5f5f5;
	--color-bg-bicycle: #d5001f;
	--color-bg-lonelyplanet: #0d2481;
	--color-bg-herst: #b4d0e7;
	--color-bg-clearchannel: #ffd830;
	--color-text-buisness: #61082b;
}

.debug{
    border: 1px solid red;
}

.debug-1{
    border: 1px solid black;
}

/* utility */

img{
    width: 100%;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.padding{
    padding: 30px;
}

.padding-top{
    padding-top: 80px;
}
/*  */

/* flex utility */
.d-flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.space-between{
    justify-content: space-between;
}
/*  */

/* header section */
header{
    background-color: var(--color-background-image);
    height: 740px;
}
nav{
    background-color: var(--color-background);
    position: fixed;
    width: 100%;
    z-index: 3000;
}
.nav-list{
    padding: 20px; 
}

#logo{
    width: 150px;
    vertical-align: middle
}

.nav-a{
    text-decoration: none;
    color: var(--color-background-footer);
    font-size: 15px;
}

.nav-btn{
    background-color: var(--color-button);
    padding: 5px 10px;
    color: var(--color-background);
}
/*  */

/* hero section */
#hero-img{
    padding-top: 180px;
    width: 900px;
    position: relative;
    left: 0px;
    top: -150px; 
}
h1{
    font-size: 75px;
    font-weight: 800;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
#hero-text{
    font-size: 15px;
    padding-top: 30px;
}
.padding-top-30{
    padding-top: 40px;
}
#hero-btn{
    padding: 10px 17px;
    background-color: var(--color-button);
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.fa-arrow-down{
    color: var(--color-background-footer);
    font-size: 50px;
    padding-top: 100px;
}
/*  */

/* body section */


#agency{
    width: 100%;
}
/*  */